// Block Styles
//=============
// Styles for the blocks.

section.brand
    background:$brandBase
    color: $textOnBrand
    border:none

section.brand-alt
    background:$brandAlt
    color:$textOnAlt
    border:none

section.bg-gray
    background:$gray06

// Block States
section.action
    background:$action
    color:white

section.danger
    background:danger
    color:white

section.success
    background:$success
    color:white

section.warning
    background:$warning
    color:white

// Blocks with Image Backgrounds
