* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

html,
body {
  height: 100%;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #474747;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.1;
  line-height: 1.5rem; }

h1 {
  font-size: 2.75rem;
  line-height: 3rem; }

h2 {
  font-size: 1.9375rem;
  line-height: 3rem; }

h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500; }

h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #7f7f7f; }

p,
ul,
ol,
pre,
table,
blockquote {
  margin: 1.5rem 0; }

a {
  text-decoration: none;
  font-weight: 500;
  color: #0f93f5;
  transition: color 250ms ease-in-out; }

a:hover {
  color: #0768b0;
  transition: color 250ms ease-in-out; }

ol,
ul {
  padding-left: 1.5rem;
  margin-left: 1.5rem; }

ol.no-style,
ul.no-style {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

strong {
  font-weight: 500; }

small {
  font-size: 0.875rem; }

hr {
  display: block;
  border: none;
  outline: none;
  width: 90%;
  margin: 1rem auto;
  height: 1px;
  background: #d4d4d4; }

img {
  display: inline-block;
  border: none;
  outline: none;
  vertical-align: middle;
  max-width: 100%; }

.text-center {
  text-align: center; }

.text-action {
  color: #0f93f5; }

section {
  position: relative;
  z-index: 100;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  padding: 4.5rem 0;
  border-bottom: 1px solid #d4d4d4;
  background: white; }

section article,
section header,
section footer, header[role="banner"] nav {
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 64rem;
  margin: 0 auto; }

@media screen and (max-width: 767px) {
  section article,
  section header,
  section footer, header[role="banner"] nav {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    max-width: 90%; } }

header[role="banner"] section article .brand,
section header[role="banner"] .brand,
header[role="banner"] section footer .brand,
header[role="banner"] nav .brand,
header[role="banner"] .barnd section article h1,
section header[role="banner"] .barnd h1,
header[role="banner"] .barnd section footer h1,
header[role="banner"] nav .barnd h1,
header[role="banner"] .barnd nav h1,
header[role="banner"] section article ul, section header[role="banner"] ul,
header[role="banner"] section footer ul, header[role="banner"] nav ul {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

section article {
  padding: 3rem 0; }

section.full article {
  display: block; }

section.full-center header,
section.full-center article,
section.full-center footer {
  display: block;
  text-align: center; }

section.half .cell-one,
section.half .cell-two {
  -webkit-flex: 0 0 47.5%;
      -ms-flex: 0 0 47.5%;
          flex: 0 0 47.5%; }

section.half .cell-one {
  margin-right: 2.5%; }

@media screen and (max-width: 767px) {
  section.half .left,
  section.half .right {
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-left: 0; }
  section.half .left {
    margin-bottom: 1.5rem; } }

section.trips .cell-one,
section.trips .cell-two,
section.trips .cell-three {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 2.5%; }

section.trips .cell-three {
  margin-right: 0; }

section.quads .cell-one,
section.quads .cell-two,
section.quads .cell-three,
section.quads .cell-four {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 2.5%; }

section.quads .cell-four {
  margin-right: 0; }

section.threefourths-left .cell-one {
  -webkit-flex: 0 0 66.666%;
      -ms-flex: 0 0 66.666%;
          flex: 0 0 66.666%;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  margin-right: 2.5%; }

section.threefourths-left .cell-two {
  -webkit-flex: 0 0 30.8333%;
      -ms-flex: 0 0 30.8333%;
          flex: 0 0 30.8333%;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }

section.threefourths-right .cell-one {
  -webkit-flex: 0 0 30.8333%;
      -ms-flex: 0 0 30.8333%;
          flex: 0 0 30.8333%;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  margin-right: 2.5%; }

section.threefourths-right .cell-two {
  -webkit-flex: 0 0 66.666%;
      -ms-flex: 0 0 66.666%;
          flex: 0 0 66.666%;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }

section.brand {
  background: #334667;
  color: white;
  border: none; }

section.brand-alt {
  background: #a60311;
  color: white;
  border: none; }

section.bg-gray {
  background: #f0f0f0; }

section.action {
  background: #0f93f5;
  color: white; }

section.danger {
  background: danger;
  color: white; }

section.success {
  background: #46af4a;
  color: white; }

section.warning {
  background: #ff9800;
  color: white; }

header[role="banner"] {
  width: 100%;
  background: #f0f0f0;
  padding: 0.875rem 0;
  border-bottom: 1px solid #d4d4d4;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

header[role="banner"] .brand,
header[role="banner"] .barnd h1,
header[role="banner"] ul {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin: 0;
  padding: 0; }

header[role="banner"] .brand,
header[role="banner"] .brand h1 {
  margin: 0; }

header[role="banner"] ul {
  text-align: right; }

header[role="banner"] ul li {
  display: inline-block; }

footer[role="footer"] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 4.5rem 0;
  color: white;
  font-size: 0.875rem;
  text-align: center;
  background: #474747; }

body {
  background: lime; }
