* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

html,
body {
  height: 100%;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #474747;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  line-height: 1.5rem; }

h1,
h2,
h3,
h4 {
  margin-bottom: 1.5rem; }

h1 {
  font-size: 2.75rem;
  line-height: 3rem;
  margin-bottom: 3rem; }

h2 {
  font-size: 1.9375rem;
  line-height: 3rem; }

h3,
header[role="banner"] .brand,
header[role="banner"] .brand h1 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500; }

h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #7f7f7f; }

p,
ul,
ol,
pre,
table,
blockquote {
  margin: 1.5rem 0; }

a {
  text-decoration: none;
  font-weight: 500;
  color: #0f93f5;
  transition: color 250ms ease-in-out; }
  a:hover {
    color: #0768b0;
    transition: color 250ms ease-in-out; }

ol,
ul {
  padding-left: 1.5rem;
  margin-left: 1.5rem; }

ol.no-style,
ul.no-style {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

strong {
  font-weight: 500; }

small {
  font-size: 0.875rem; }

hr {
  display: block;
  border: none;
  outline: none;
  width: 100%;
  margin: 1rem auto;
  height: 1px;
  background: #d4d4d4; }

img {
  display: inline-block;
  border: none;
  outline: none;
  vertical-align: middle;
  max-width: 100%; }

.text-center {
  text-align: center; }

.text-action {
  color: #0f93f5; }

.text-danger {
  color: #f44336; }

.text-success {
  color: #46af4a; }

.text-warning {
  color: #ff9800; }

.text-muted {
  color: #7f7f7f; }

.action,
.danger,
.success {
  color: white; }

.action {
  background-color: #0f93f5; }

.danger {
  background-color: #f44336; }

.success {
  background-color: #46af4a; }

.warning {
  background-color: #ff9800; }

.muted {
  background-color: #f0f0f0; }

.grid, .block header,
.block footer, .block article, header[role="banner"] nav {
  display: flex;
  felx-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 64rem;
  margin: 0 auto; }
  .align-top.grid, .block header.align-top,
  .block footer.align-top, .block article.align-top, header[role="banner"] nav.align-top {
    align-items: flex-start; }
  .align-bottom.grid, .block header.align-bottom,
  .block footer.align-bottom, .block article.align-bottom, header[role="banner"] nav.align-bottom {
    align-items: flex-end; }
  .align-center.grid, .block header.align-center,
  .block footer.align-center, .block article.align-center, header[role="banner"] nav.align-center {
    align-items: center; }
  @media screen and (max-width: 767px) {
    .grid, .block header,
    .block footer, .block article, header[role="banner"] nav {
      width: 95%; } }

.grid-cell,
.grid-fourth,
.grid-third,
.grid-half,
header[role="banner"] .brand,
header[role="banner"] .brand h1, header[role="banner"] .menu, .grid-two-thirds,
.grid-three-fourths,
.grid-full {
  flex: 1;
  margin: 0 1.4%; }
  .grid-cell:first-child,
  .grid-fourth:first-child,
  .grid-third:first-child,
  .grid-half:first-child,
  header[role="banner"] .brand:first-child,
  header[role="banner"] .brand h1:first-child, header[role="banner"] .menu:first-child, .grid-two-thirds:first-child,
  .grid-three-fourths:first-child,
  .grid-full:first-child {
    margin-left: 0; }
  .grid-cell:last-child,
  .grid-fourth:last-child,
  .grid-third:last-child,
  .grid-half:last-child,
  header[role="banner"] .brand:last-child,
  header[role="banner"] .brand h1:last-child, header[role="banner"] .menu:last-child, .grid-two-thirds:last-child,
  .grid-three-fourths:last-child,
  .grid-full:last-child {
    margin-right: 0; }
  @media screen and (max-width: 767px) {
    .grid-cell,
    .grid-fourth,
    .grid-third,
    .grid-half,
    header[role="banner"] .brand,
    header[role="banner"] .brand h1, header[role="banner"] .menu, .grid-two-thirds,
    .grid-three-fourths,
    .grid-full {
      flex: 0 0 100%;
      margin: 0;
      margin-bottom: 1.4%; } }

.grid.test {
  background: #f8f8f8; }
  .grid.test h3 {
    padding: 0.875rem 0;
    text-indent: 0.875rem;
    background: #f0f0f0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    margin-bottom: 1.5rem; }

input,
textarea,
select {
  border: 1px solid #d4d4d4;
  background-color: white !important;
  display: block;
  width: 100%;
  height: 3rem;
  max-height: 3rem;
  margin-bottom: 1.5rem;
  color: #474747;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  letter-spacing: 0.09rem;
  text-indent: 0.875rem;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: border-color 250ms ease-in-out, box-shadow 250ms ease-in-out; }
  input:focus,
  textarea:focus,
  select:focus {
    border-color: #0f93f5;
    box-shadow: 0 0 6px rgba(15, 147, 245, 0.45); }
  input:focus,
  textarea:focus,
  select:focus {
    transition: border-color 250ms ease-in-out, box-shadow 250ms ease-in-out; }

textarea {
  hieght: auto;
  max-height: none;
  padding: 0.875rem 0; }

input.action,
textarea.action,
select.action {
  border: 1px solid #0877c9;
  background-color: white !important;
  box-shadow: 0 0 6px rgba(15, 147, 245, 0.45), inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #474747; }
  input.action:focus,
  textarea.action:focus,
  select.action:focus {
    border-color: #0f93f5;
    box-shadow: 0 0 6px rgba(15, 147, 245, 0.45); }
  input.action:focus,
  textarea.action:focus,
  select.action:focus {
    box-shadow: 0 0 12px rgba(15, 147, 245, 0.6); }

input.danger,
textarea.danger,
select.action {
  border: 1px solid #ea1c0d;
  background-color: white !important;
  box-shadow: 0 0 6px rgba(244, 67, 54, 0.45), inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #474747; }
  input.danger:focus,
  textarea.danger:focus,
  select.action:focus {
    border-color: #f44336;
    box-shadow: 0 0 6px rgba(244, 67, 54, 0.45); }
  input.danger:focus,
  textarea.danger:focus,
  select.action:focus {
    box-shadow: 0 0 12px rgba(244, 67, 54, 0.6); }

input.success,
textarea.success,
select.action {
  border: 1px solid #378b3b;
  background-color: white !important;
  box-shadow: 0 0 6px rgba(70, 175, 74, 0.45), inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #474747; }
  input.success:focus,
  textarea.success:focus,
  select.action:focus {
    border-color: #46af4a;
    box-shadow: 0 0 6px rgba(70, 175, 74, 0.45); }
  input.success:focus,
  textarea.success:focus,
  select.action:focus {
    box-shadow: 0 0 12px rgba(70, 175, 74, 0.6); }

input.warning,
textarea.warning,
select.action {
  border: 1px solid #cc7a00;
  background-color: white !important;
  box-shadow: 0 0 6px rgba(255, 152, 0, 0.45), inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #474747; }
  input.warning:focus,
  textarea.warning:focus,
  select.action:focus {
    border-color: #ff9800;
    box-shadow: 0 0 6px rgba(255, 152, 0, 0.45); }
  input.warning:focus,
  textarea.warning:focus,
  select.action:focus {
    box-shadow: 0 0 12px rgba(255, 152, 0, 0.6); }

.btn,
a.btn,
button,
button.btn,
input[type="submit"] {
  display: inline-block;
  margin-bottom: 1.5rem;
  height: 3rem;
  max-height: 3rem;
  padding: 0.625rem 1rem;
  color: #474747;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid #d4d4d4;
  border-color: #d4d4d4;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #f0f0f0;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.19), 0 1px 1px white; }
  .btn:hover,
  a.btn:hover,
  button:hover,
  button.btn:hover,
  input[type="submit"]:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #d6d6d6;
    transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out; }
  .btn:active,
  .btn.selected,
  a.btn:active,
  a.btn.selected,
  button:active,
  button.selected,
  button.btn:active,
  button.btn.selected,
  input[type="submit"]:active,
  input[type="submit"].selected {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #cacaca;
    transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out; }

.btn.action,
a.btn.action,
button.action,
button.btn.action,
input.action[type="submit"] {
  display: inline-block;
  margin-bottom: 1.5rem;
  height: 3rem;
  max-height: 3rem;
  padding: 0.625rem 1rem;
  color: white;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid #d4d4d4;
  border-color: #0877c9;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #0f93f5;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.24); }
  .btn.action:hover,
  a.btn.action:hover,
  button.action:hover,
  button.btn.action:hover,
  input.action[type="submit"]:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #0877c9;
    transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out; }
  .btn.action:active,
  .btn.action.selected,
  a.btn.action:active,
  a.btn.action.selected,
  button.action:active,
  button.action.selected,
  button.btn.action:active,
  button.btn.action.selected,
  input.action[type="submit"]:active,
  input.action[type="submit"].selected {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #0768b0;
    transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out; }

.btn.danger,
a.btn.danger,
button.danger,
button.btn.danger,
input.danger[type="submit"] {
  display: inline-block;
  margin-bottom: 1.5rem;
  height: 3rem;
  max-height: 3rem;
  padding: 0.625rem 1rem;
  color: white;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid #d4d4d4;
  border-color: #ea1c0d;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #f44336;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .btn.danger:hover,
  a.btn.danger:hover,
  button.danger:hover,
  button.btn.danger:hover,
  input.danger[type="submit"]:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #ea1c0d;
    transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out; }
  .btn.danger:active,
  .btn.danger.selected,
  a.btn.danger:active,
  a.btn.danger.selected,
  button.danger:active,
  button.danger.selected,
  button.btn.danger:active,
  button.btn.danger.selected,
  input.danger[type="submit"]:active,
  input.danger[type="submit"].selected {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #d2190b;
    transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out; }

.btn.success,
a.btn.success,
button.success,
button.btn.success,
input.success[type="submit"] {
  display: inline-block;
  margin-bottom: 1.5rem;
  height: 3rem;
  max-height: 3rem;
  padding: 0.625rem 1rem;
  color: white;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid #d4d4d4;
  border-color: #378b3b;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #46af4a;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .btn.success:hover,
  a.btn.success:hover,
  button.success:hover,
  button.btn.success:hover,
  input.success[type="submit"]:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #378b3b;
    transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out; }
  .btn.success:active,
  .btn.success.selected,
  a.btn.success:active,
  a.btn.success.selected,
  button.success:active,
  button.success.selected,
  button.btn.success:active,
  button.btn.success.selected,
  input.success[type="submit"]:active,
  input.success[type="submit"].selected {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #307833;
    transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out; }

.btn.warning,
a.btn.warning,
button.warning,
button.btn.warning,
input.warning[type="submit"] {
  display: inline-block;
  margin-bottom: 1.5rem;
  height: 3rem;
  max-height: 3rem;
  padding: 0.625rem 1rem;
  color: white;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid #d4d4d4;
  border-color: #cc7a00;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #ff9800;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .btn.warning:hover,
  a.btn.warning:hover,
  button.warning:hover,
  button.btn.warning:hover,
  input.warning[type="submit"]:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #cc7a00;
    transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out; }
  .btn.warning:active,
  .btn.warning.selected,
  a.btn.warning:active,
  a.btn.warning.selected,
  button.warning:active,
  button.warning.selected,
  button.btn.warning:active,
  button.btn.warning.selected,
  input.warning[type="submit"]:active,
  input.warning[type="submit"].selected {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #b36a00;
    transition: box-shadow 250ms ease-in-out, background 250ms ease-in-out; }

.btn .material-icons {
  vertical-align: middle; }

.grid-fourth {
  flex: 0 0 22.9%; }

.grid-third {
  flex: 0 0 31.45%; }

.grid-half,
header[role="banner"] .brand,
header[role="banner"] .brand h1, header[role="banner"] .menu {
  flex: 0 0 48.6%; }

.grid-two-thirds {
  flex: 0 0 65.6666%; }

.grid-three-fourths {
  flex: 0 0 74.3%; }

.grid-full {
  flex: 0 0 100%; }

@media screen and (max-width: 767px) {
  .gird-cell,
  .grid-fourth,
  .grid-third,
  .grid-half,
  .grid-two-thirds,
  .grid-three-fourths,
  .grid-full {
    flex: 0 0 100%; } }

.block {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 4.5rem 0; }

.block header,
.block footer {
  display: block; }

.block article {
  padding: 3rem 0; }

.block {
  background: white;
  color: #474747;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #d4d4d4; }

.block.brand {
  background: #334667;
  color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: transparent;
  border: none; }

.block.brand-alt {
  background: #a60311;
  color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: transparent;
  border: none; }

section.bg-gray {
  background: #f0f0f0;
  color: #474747;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #d4d4d4; }

section.action {
  background: #0f93f5;
  color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: transparent; }

section.danger {
  background: #f44336;
  color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: transparent; }

section.success {
  background: #46af4a;
  color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: transparent; }

section.warning {
  background: #ff9800;
  color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: transparent; }

.block.no-border {
  border: none; }

header[role="banner"] {
  position: relative;
  z-index: 1000;
  width: 100%;
  background: #f0f0f0;
  padding: 0.875rem 0;
  border-bottom: 1px solid #d4d4d4;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  header[role="banner"] nav {
    max-width: 95%;
    align-items: center; }
  header[role="banner"] .brand,
  header[role="banner"] .barnd h1,
  header[role="banner"] ul {
    align-self: center;
    margin: 0;
    padding: 0; }
  header[role="banner"] .brand,
  header[role="banner"] .brand h1 {
    align-self: center;
    order: 1;
    margin: 0;
    padding: 0; }
  header[role="banner"] .menu {
    order: 2;
    text-align: right; }
  header[role="banner"] .menu ul li {
    display: inline; }
  @media screen and (max-width: 767px) {
    header[role="banner"] .menu ul {
      position: absolute;
      top: -1000px;
      position: absolute;
      z-index: 800;
      left: 0;
      right: 0;
      display: block;
      width: 100%;
      text-align: center;
      transition: top 300ms ease-in-out; }
      header[role="banner"] .menu ul li {
        display: block;
        background: #f0f0f0;
        width: 100%;
        padding: 1rem 0;
        border-bottom: 1px solid #d4d4d4;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
      header[role="banner"] .menu ul .divder {
        display: none; }
      header[role="banner"] .menu ul.show {
        top: 5rem;
        z-index: 800;
        transition: top 300ms ease-in-out; } }
  header[role="banner"] .mobile-menu {
    display: none;
    visibility: hidden;
    align-self: center;
    cursor: pointer;
    color: #0f93f5; }
    @media screen and (max-width: 767px) {
      header[role="banner"] .mobile-menu {
        display: inline-block;
        visibility: visible; } }

footer[role="footer"] {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  padding: 4.5rem 0;
  color: white;
  font-size: 0.875rem;
  text-align: center;
  background: #474747; }
