<!DOCTYPE html>
<html ng-app="webPage">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Stew's Starter Pack</title>
  <!-- styles -->
  <link rel="stylesheet" href="css/master.css" media="screen" title="no title" charset="utf-8">
  <!-- /styles -->
  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="scripts/webpage.js"></script>
  <!-- /scripts -->
  <!-- Favicons -->
  <link rel="icon" type="img" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="img" sizes="96x96" href="img/favicon/favicon-96x96.png">
  <link rel="icon" type="img" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <!-- /Favicons -->
</head>

<body ng-controller="webPageController">
  <!-- Global header -->
  <header role="banner">
    <nav role="navigation">
      <div class="brand">
        <h1><a href="#">Brand</a></h1>
      </div>
      <ul>
        <li><a href="#">Product</a></li>
        <li class="divder"> | </li>
        <li><a href="#">About</a></li>
        <li class="divder"> | </li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
  <!-- /Global Header -->
  <main role="main">
    <!-- Full Width Block -->
    <section class="full">
      <header>
        <h1>A Little Angular Controler</h1>
        <input type="text" ng-model="search" placeholder="Search People">
      </header>
      <article>
        <h3>A List of People</h3>
        <ul>
          <li ng-repeat="item in list | filter:search" >
            {{item.name}} - <em>{{item.age}}</em>
          </li>
        </ul>
        <form ng-submit="addPerson()">
          <input type="text" placeholder="Name" ng-model="name">
          <input type="Number" placeholder="Age" ng-model="age">
          <input type="submit" value="Submit">
        </form>
      </article>
      <footer>
        <small>This is the footer block.</small>
      </footer>
    </section>
    <!-- /Full Width Block -->
    <!-- Half Block -->
    <section class="half">
      <header>
        <h1>A Block with Halfs</h1>
      </header>
      <article class="">
        <div class="cell-one">
          <h3>The Right Half</h3>
          <p>
            This is the right half of the block. This is where your mother lives.
          </p>
        </div>
        <div class="cell-two">
          <h3>The Left Half</h3>
          <p>
            This is the left half of the block.
          </p>
        </div>
      </article>
      <footer>
        <small>This is the block footer.</small>
      </footer>
    </section>
    <!-- /Half Block -->
    <!-- Full Width Block -->
    <section class="full-center">
      <header>
        <h1>A Full Width Block That Is Centered</h1>
      </header>
      <article>
        <h3>This Block Is Fat & Centered</h3>
        <p>
          This block is really fat. It takes up 100% of it's container. The text is centered.
        </p>
      </article>
      <footer>
        <small>This is the footer block.</small>
      </footer>
    </section>
    <!-- /Full Width Block -->
    <!-- Trips -->
    <section class="trips">
      <header>
        <h1>Trips Block</h1>
      </header>
      <article>
        <div class="cell-one">
          <h3>Trips One</h3>
          <p>This is the first in three blocks. Trips comes from a football formation. Three recivers to the left or right.</p>
        </div>
        <div class="cell-two">
          <h3>Trips Two</h3>
          <p>This is the first in three blocks. Trips comes from a football formation. Three recivers to the left or right.</p>
        </div>
        <div class="cell-three">
          <h3>Trips Three</h3>
          <p>This is the first in three blocks. Trips comes from a football formation. Three recivers to the left or right.</p>
        </div>
      </article>
      <footer>
        <small>This is the footer</small>
      </footer>
    </section>
    <!-- /Trips -->
    <!-- Quads -->
    <section class="quads">
      <header>
        <h1>Quad Block</h1>
      </header>
      <article>
        <div class="cell-one">
          <h3>Quad One</h3>
          <p>This is a quad block. For when you need four things across.</p>
        </div>
        <div class="cell-two">
          <h3>Quad Two</h3>
          <p>This is a quad block. For when you need four things across.</p>
        </div>
        <div class="cell-three">
          <h3>Quad Three</h3>
          <p>This is a quad block. For when you need four things across.</p>
        </div>
        <div class="cell-four">
          <h3>Quad Four</h3>
          <p>This is a quad block. For when you need four things across.</p>
        </div>
      </article>
    </section>
    <!-- /Quads -->
    <!-- Three Fourths Left  -->
    <section class="threefourths-left">
      <header>
        <h1>Three Fourths Left</h1>
      </header>
      <article>
        <div class="cell-one">
          <h3>This is the main text area</h3>
          <p>This is a three-fourths block. This is the main message area.</p>
        </div>
        <div class="cell-two">
          <img src="https://placeimg.com/640/480/any">
        </div>
      </article>
      <footer>
        <small>This is the block's footer</small>
      </footer>
    </section>
    <!-- /Three Fourths Left  -->
    <!-- Three Fourths Right  -->
    <section class="threefourths-right">
      <header>
        <h1>Three Fourths Right</h1>
      </header>
      <article>
        <div class="cell-one">
          <img src="https://placeimg.com/640/480/any">
        </div>
        <div class="cell-two">
          <h3>This is the main text area</h3>
          <p>This is a three-fourths block. This is the main message area.</p>
        </div>
      </article>
      <footer>
        <small>This is the block's footer</small>
      </footer>
    </section>
    <!-- /Three Fourths Right  -->
  </main>
  <footer role="footer">
    <p>This is the footer</p>
  </footer>
</body>

</html>
