* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
html,
body {
  height: 100%;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.83);
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.05em;
}
h1,
.h1 {
  font-size: 2.75rem;
  line-height: 3rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
h2,
.h2 {
  font-size: 1.9375rem;
  line-height: 3rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
h3,
.h3 {
  font-size: 1.375rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #2196f3;
}
a:hover {
  color: #0960a5;
}
a:visited {
  color: #0c7cd5;
}
ul,
ol {
  list-style: none;
}
strong,
.bold {
  font-weight: bolder;
}
small,
.small {
  font-size: smaller;
}
blockquote {
  font-size: 1.375rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-style: italic;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.5);
}
hr {
  display: block;
  width: 88%;
  margin: 1rem auto;
  height: 1px;
  background: rgba(0, 0, 0, 0.06);
}
img {
  border: 0;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-secondary {
  color: rgba(0, 0, 0, 0.5);
}
.text-lead {
  font-size: 1.375rem;
  line-height: 1.5rem;
}
.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  z-index: 100;
  max-width: 1024px;
  margin: 0 auto;
}
.container > .cell {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}
.container > .cell:last-child {
  margin-right: 0;
}
.container.fit > .cell {
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
}
.container.half > .cell {
  -webkit-flex: 1 1 50%;
  flex: 1 1 50%;
}
.container.thirds > .cell {
  -webkit-flex: 1 1 33.3333%;
  flex: 1 1 33.3333%;
}
.container.quarters > .cell {
  -webkit-flex: 1 1 25%;
  flex: 1 1 25%;
}
.container.three-quarter.left > .cell:first-child {
  -webkit-flex: 1 1 75%;
  flex: 1 1 75%;
}
.container.three-quarter.left > .cell:last-child {
  -webkit-flex: 1 1 25%;
  flex: 1 1 25%;
}
.container.three-quarter.right > .cell:first-child {
  -webkit-flex: 1 1 25%;
  flex: 1 1 25%;
}
.container.three-quarter.right > .cell:last-child {
  -webkit-flex: 1 1 75%;
  flex: 1 1 75%;
}
@media (min-width: 250px) and (max-width: 550px) {
  .container {
    width: 90%;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .container.fit > .cell {
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    margin-right: 0;
  }
  .container.half > .cell {
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    margin-right: 0;
  }
  .container.thirds > .cell {
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    margin-right: 0;
  }
  .container.quarters > .cell {
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    margin-right: 0;
  }
  .container.three-quarter.left > .cell:first-child {
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    margin-right: 0;
  }
  .container.three-quarter.left > .cell:last-child {
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    margin-right: 0;
  }
  .container.three-quarter.right > .cell:first-child {
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    margin-right: 0;
  }
  .container.three-quarter.right > .cell:last-child {
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    margin-right: 0;
  }
}
.container.test {
  background: #d7e8f0;
}
.container.test .cell {
  min-height: 100px;
  background: #f48eb1;
}
.bloc {
  position: relative;
  z-index: 100;
  display: block;
  width: 100%;
  padding: 1.5rem 0;
}
.bloc.sm {
  padding: 1rem 0;
}
.bloc.lg {
  padding: 4.5rem 0;
}
.bloc.xl {
  padding: 6rem 0;
}
.bloc.xxl {
  padding: 7.5rem 0;
}
.bloc.brand {
  background: #b81418;
  color: white;
}
.bloc.accent {
  background: #fbb03b;
  color: #55090b;
}
.navbar {
  position: relative;
  z-index: 500;
  display: block;
  width: 100%;
  background: #b81418;
}
.navbar .nav-inner {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  z-index: 100;
  margin: 0 auto;
  max-width: 1024px;
}
.navbar h1 {
  margin: 0;
}
