// Specific Layouts
//=================
// Stewart Hines | October 2015
// Intended for when a block layout won't work.

%layout
    header
        width:100%

section.layout
    @extend %layout
    &.two-column
        display:flex
        flex-direction: columns
        background:limegreen

        article
        aside
            flex:1

        article
            background:purple
            
        aside
            background:red
