header[role="banner"]
    position: relative
    z-index: 1000
    width:100%
    background: $gray06
    padding:$spacingXS 0
    border-bottom: 1px solid $borderColor
    box-shadow: $z1-shadow

    nav
        @extend %blockContainer

    .brand,
    .barnd h1,
    ul
        @extend %cell
        align-self:center
        margin:0
        padding:0

    .brand,
    .brand h1
        margin:0
        font-size:$spacingBase

    ul
      position: relative
      text-align:right
          @media screen and (max-width:$bpSM)
            transform:translateY(-1000px)
            display:none
            visibility: hidden
            .divder
              display:none
            &.show
            position: absolute
            top:77px
            left:0
            right:0
            transform:translateY(0)
            background:$gray06
            display:block
            flex: 0 0 100%
            visibility: visible
            width:100%
            box-shadow: $z1-shadow
            li
              display:block
              width:100%
              padding:$spacingXS 0
              text-align:center
              border-bottom:1px solid $borderColor


      li
          display:inline-block

    .mobile-menu
      display:none
      visibility: hidden
      align-self:center
      cursor: pointer
      color:$action
      @media screen and (max-width:$bpSM)
        display: inline-block
        visibility: visible
