header[role="banner"]
    position: relative
    z-index: 1000
    width:100%
    background: $gray06
    padding:$spacingXS 0
    border-bottom: 1px solid $borderColor
    box-shadow: $z1-shadow

    nav
      @extend %grid
      max-width:95%
      align-items: center

    .brand,
    .barnd h1,
    ul
        @extend %cell
        align-self:center
        margin:0
        padding:0

    .brand,
    .brand h1
        @extend %heading
        @extend %gridHalf
        align-self:center
        order:1
        margin:0
        padding:0


    .menu
      @extend %gridHalf
      order:2
      text-align:right

    .menu ul
      li
        display:inline
      @media screen and (max-width:$bpSM)
        position: absolute
        top:-1000px
        position:absolute
        z-index: 800
        left:0
        right:0
        display:block
        width:100%
        text-align:center
        transition: top 300ms ease-in-out
        li
          display:block
          background:$gray06
          width:100%
          padding:$spacingSM 0
          border-bottom:1px solid $borderColor
          box-shadow:$z1-shadow
        .divder
          display:none
        &.show
          top:5rem
          z-index: 800
          transition: top 300ms ease-in-out





    .mobile-menu
      display:none
      visibility: hidden
      align-self:center
      cursor: pointer
      color:$action
      @media screen and (max-width:$bpSM)
        display: inline-block
        visibility: visible
